h1, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin:0;
}

.container {
	height: 100%;
	width: 16.66%;
	background: #999;
	padding: 0;
	position: absolute;
}

.logo {
	height: 40px;
	text-align: center;
	background: #ddd;
	padding: 0;
	margin: 0;
}

#map {
	height: 100%;
	width: 83.33%;
	left: 16.66%;
	position: absolute;
}

#panorama {
    width: 400px;
    height: 400px;
}

.filter {
	width: 100%;
}

.list {
	list-style: none;
	margin: 0;
	padding-left: 0;
	width: 100%;
}